* {
  font-family: 'Source Code Pro', monospace;
}
.main-block {
  margin-top: 5vw;
  margin-left: 5vw;
  width: 27vw;
}
.intro {
  text-align: left;
}
.intro h1 {
  font-size: 4.5vw;
  margin-bottom: 1vw;
}
.intro p {
  font-size: 1.5vw;
  margin-bottom: 3vw;
}
.contact-list {
  font-size: 1.2vw;
  text-align: right;
  line-height: 2vw;
  padding-left: 0;
  list-style: none;
}
.contact-list hr {
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: 0;
  border-top: 1px solid #eee;
}
.contact-list img {
  float: left;
  height: 1em;
  width: 1em;
  margin-top: 0.37em;
}
.contact-list a:link {
  color: #000000;
  text-decoration: none;
}
.contact-list a:visited {
  color: #000000;
  text-decoration: none;
}
.contact-list a:hover {
  color: #666666;
  text-decoration: underline;
}
