html {
  font-size: 2.5vh;
  font-family: 'PT Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  line-height: 2rem;
}

body {
  width: 18rem;
  margin: auto;
}

figure img {
  height: 18rem;
  width: 18rem;
  margin-top: 3rem;
}

figure figcaption .content {
  float: right;
}

figure figcaption .label {
  float: left;
  font-weight: bold;
}

address {
  margin-top: 6rem;
  text-align: right;
}

address menu {
  list-style-type: none; /*Remove bullets*/
}

address menu a {
  outline: 0; /*Remove dotted border*/
  display: block; /*Span list item*/
  color: black;
  text-decoration: none;
  font-style: normal;
  padding-right: 2rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 1rem 1rem;
}

address menu a:hover {
  color: #C3687A; /*Echo colour from profile photo*/
}

address menu a[href="mailto:oscar.byrne@gmail.com"] {
  background-image: url("../img/gmail.png");
}

address menu a[href="https://www.linkedin.com/in/oscarbyrne"] {
  background-image: url("../img/linkedin.png");
}

address menu a[href="https://github.com/oscarbyrne"] {
  background-image: url("../img/github.png");
}

address menu a[href="https://oscarbyrne.github.io/cv/"] {
  background-image: url("../img/pointer.png");
}

