* {
    font-family: 'Source Code Pro', monospace;
}
a:link
{
   color: #000000;
   text-decoration: none;
}
a:visited
{
   color: #000000;
   text-decoration: none;
}
.contact {
  margin-top: 5%;
  margin-left: 5%;
  width: 275px;
}
